.btn{
    background-color: transparent;
    border: 1px solid rgb(85, 5, 233);
    border-radius: 20px;
    padding: 0px 20px;
    font-weight: bold;
    height: 45px;
    color: rgb(85, 5, 233);
}

.btn:hover{
    cursor: pointer;
    background-color: aquamarine;
    border: aquamarine;
}

.dark .btn{
    background-color: aquamarine;
    color: white;
    background-color: transparent;
}

.dark .btn:hover{
    border: 1px solid rgb(85, 5, 233);
}


.btn__search{
    width: 80px;
    height: 52px;
    border-radius: 0px 61px 61px 0px;
    background-color: #6809E1;
    border: none;
    cursor: pointer;}